services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot.py:/app/bot.py
      - ./src:/app/src
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

